.sb-nav-fixed,.layoutSidenav,.layoutSidenav_nav {
    width: 225px;
    height: 100vh;
    z-index: 1038;
}
.img-admin{
    padding-top: 35px;
}
.img-logo{
    width: 30%;
    float: left;
}
.textLogo{
    display: inline;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 20px;
    padding-top: 20px;
    color: #fff;
}
.Dashboards{
    padding-top: 35px;
    padding-left: 14px;
}
.sb-nav-link-icon{
    color: #fff;
    font-size: 21px;
    padding-right: 10px;
    padding-bottom: 13px;
}
.accordion-item,.accordion-header,.accordion-button ,.accordion-collapse{
    border: none;
    background-color: #000000;
    color: #fff;
}
.accordion-button:not(.collapsed) {
    color: white;
    background-color: black;
    box-shadow: none;
}
.accordion-button{
    background: none;
}
.accordion-button:focus{
    background-color: #000000;
    border-color: #000000;
    box-shadow: none;
}
.accordionbodyy{
    padding-top: 10px;
    padding-left: 30px;
}
/* .itme:hover{
    background-color: dodgerblue;
} */



/* .sb-nav-fixed , .layoutSidenav, .layoutSidenav_nav .sb-sidenav {
    padding-top: 10px;
} */
  
.sb-nav-fixed #layoutSidenav #layoutSidenav_nav .sb-sidenav .sb-sidenav-menu {
    overflow-y: auto;
}
  
.sb-nav-fixed #layoutSidenav #layoutSidenav_content {
    padding-left: 225px;
    top: 56px;
}
.navbar-expand-lg{
    padding-top: 0px;
}
                    
.navbarbrand{
    float: right;
}
.imglogo{
    width: 50%;
    float: right;
    padding-right: 30px;
}
@media (max-height: 666px){
  .sb-nav-fixed{
    overflow-y: scroll;
  }
}

/* navbar logo */
@media (min-width: 992px){
    .navbarbrand{
        display: none;
    }
    .offcanvas.offcanvas-end {
      width: auto;
  }
    
}
/*  */
@media (max-width: 992px){
  .member-logo{
      background-color: #343a40;
  }
  .navbar-toggler{
      margin: 1%;
      margin-left: 3%;
  }
  .offcanvas.offcanvas-end {
    width: auto;
}
  


}
/* màn hình ipab */
@media (max-width: 576px){
    /* .layoutSidenav ,.layoutSidenav_nav{
        width: 100px;
    } */
    .img-logo{
        margin-left: 14px;
        width: 40px;
    }
    .img-admin {
      padding-top: 5px;
  }
}
/* màn hình adroi */
@media(max-width:320px){
    .navbarbrand{
        display: contents;
    }
    /* .layoutSidenav_nav{
        width: 50px;
    } */
    .img-logo{
      padding-top: 8px;
        margin-left: 0px;
        width: 25px;
    }
    .Dashboards{
        padding-top: 20px;
        padding-left: 0px;
    }
    .sb-nav-link-icon{
        color: #fff;
        font-size: 16px;
        padding-left: 0px;
        /* padding-right: 10px; */
        /* padding-bottom: 13px; */
    }
    .accordion-button{
        padding-right: 2px;
    }
    .navbar-toggler{
      padding: 1%;
    }
    .img-admin {
      padding-top: 10px;
  }
}

@media (min-width: 992px) {
    .layoutSidenav ,.layoutSidenav_nav {
      transform: translateX(0); 
    }
  
    
    /* #layoutSidenav #layoutSidenav_content {
      margin-left: 0;
      transition: margin 0.15s ease-in-out;
    } */
  
    /* .layoutSidenav ,.layoutSidenav_nav {
      transform: translateX(-225px);
    } */
  
    /* .sb-sidenav-toggled #layoutSidenav #layoutSidenav_content {
      margin-left: -225px;
    } */
  
    /* .sb-sidenav-toggled #layoutSidenav #layoutSidenav_content:before {
      display: none;
    } */
  }

  .sb-sidenav {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-wrap: nowrap;
  }
  
  .sb-sidenav .sb-sidenav-menu {
    flex-grow: 1;
  }
  
  .sb-sidenav .sb-sidenav-menu .nav {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  
  .sb-sidenav .sb-sidenav-menu .nav .sb-sidenav-menu-heading {
    padding: 1.75rem 1rem 0.75rem;
    font-size: 0.75rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .sb-sidenav .sb-sidenav-menu .nav .nav-link {
    display: flex;
    align-items: center;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    position: relative;
  }
  
  /* .sb-sidenav .sb-sidenav-menu .nav .nav-link .sb-nav-link-icon {
    font-size: 0.9rem;
  } */
  
  .sb-sidenav .sb-sidenav-menu .nav .nav-link .sb-sidenav-collapse-arrow {
    display: inline-block;
    margin-left: auto;
    transition: transform 0.15s ease;
  }
  
  .sb-sidenav .sb-sidenav-menu .nav .nav-link.collapsed .sb-sidenav-collapse-arrow {
    transform: rotate(-90deg);
  }
  
  .sb-sidenav .sb-sidenav-menu .nav .sb-sidenav-menu-nested {
    margin-left: 1.5rem;
    flex-direction: column;
  }
  
  .sb-sidenav .sb-sidenav-footer {
    padding: 0.75rem;
    flex-shrink: 0;
  }
  .sb-sidenav-dark {
    background-color: #000000;
    color: rgba(255, 255, 255, 0.5);
  }
  
  .sb-sidenav-dark .sb-sidenav-menu .sb-sidenav-menu-heading {
    color: rgba(255, 255, 255, 0.25);
  }
  
  .sb-sidenav-dark .sb-sidenav-menu .nav-link {
    color: rgba(255, 255, 255, 0.5);
  }
  
  /* .sb-sidenav-dark .sb-sidenav-menu .nav-link .sb-nav-link-icon {
    color: rgba(255, 255, 255, 0.25);
  } */
  
  .sb-sidenav-dark .sb-sidenav-menu .nav-link .sb-sidenav-collapse-arrow {
    color: rgba(255, 255, 255, 0.25);
  }
  
  .sb-sidenav-dark .sb-sidenav-menu .nav-link:hover {
    color: #fff;
  }
  
  .sb-sidenav-dark .sb-sidenav-menu .nav-link.active {
    color: #fff;
  }
  
  .sb-sidenav-dark .sb-sidenav-menu .nav-link.active .sb-nav-link-icon {
    color: #fff;
  }
  
  .sb-sidenav-dark .sb-sidenav-footer {
    background-color: #343a40;
  }



  /* menu content */
.menu-item {
    display: block;
    padding: 0.15rem 0;
}
.menu-item .menu-content {
    padding: 0.65rem 1rem;
}
.fw-bold {
    font-size: 12px;
    font-weight: 600!important;
}


.layoutSidenav{

  display: flex;
  align-items: center;
  justify-content: space-between;
}


/* .offcanvas-header {
  padding: var(--bs-offcanvas-padding-y) var(--bs-offcanvas-padding-x);
} */